#skills-container {
  height: auto;
  padding: 6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#skills-title {
  font-size: 20px;
  flex: 0 0 4em;
  font-weight: 800;
  margin: 2em 1.5em 0em 1em;
}

#skills-logos {
  display: flex;
  flex-direction: row;
  flex: 0 0 3;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

#skills-logos img {
  height: 75px;
  margin: 2em 2em 1em;
}
