#about-container {
  height: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  text-align: left;
}

#about-description {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8em;
}

#about-container img {
  height: 250px;
  border: 5px solid black;
  margin: 0em 4em;
}

#about-container img:hover {
  box-shadow: 10px 10px 0px black;
}

#about-title {
  font-size: 24px;
  margin-bottom: 1em;
}

.about-line {
  border-bottom: 1px solid lightgray;
  margin-bottom: 2em;
  width: 40%;
}

#about-par {
  font-size: 18px;
  width: 80%;
}
